# Mission to Mars

In [29]:
#import dependencies 
import pandas as pd
import os
from bs4 import BeautifulSoup as bs
from splinter import Browser

executable_path = {"executable_path": "chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

# Nasa Mars News

In [30]:
#define and go to URL
NASAUrl = "https://mars.nasa.gov/news/"
browser.visit(NASAUrl)

In [31]:
#BeautifulSoup connection
html = browser.html
NASASoup = bs(html, 'html.parser')

In [32]:
#Headline of most recent article
articleTitle = NASAsoup.find('div', class_='content_title').text
articleSubtitle = NASAsoup.find('div', class_='rollover_description_inner').text
print(articleTitle)
print(articleSubtitle)

NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

# Mars Images from JPL

In [33]:
#define and go to URL
JPLUrl = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(JPLUrl)

In [34]:
#BeautifulSoup connection
JPLHtml = browser.html
JPLSoup = bs(JPLHtml, 'html.parser')

In [35]:
#featured image scrape
JPLFeatImg = JPLSoup.find('a', class_='button fancybox')['data-fancybox-href']
print(JPLFeatImg)

/spaceimages/images/mediumsize/PIA16842_ip.jpg

In [36]:
#featured image url scrape
JPLFeatImgUrl = f'https://www.jpl.nasa.gov{feat_img}'
print(JPLFeatImgUrl)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16842_ip.jpg

# Mars Weather from Twitter

In [37]:
#define and go to URL
twitterUrl = 'https://twitter.com/marswxreport?lang=en'
browser.visit(twitterUrl)

In [38]:
#BeautifulSoup connection
twitterHtml = browser.html
twitterSoup = bs(twitterHtml, 'html.parser')

In [40]:
#weather tweet scrape
weatherTweet = twitterSoup.find('div', class_='js-tweet-text-container').text
print(weatherTweet)

mars_weather = 'Sol 2283 (2019-01-07), high -9C/15F, low -71C/-95F, pressure at 8.25 hPa, daylight 06:44-18:55'

Sol 2283 (2019-01-07), high -9C/15F, low -71C/-95F, pressure at 8.25 hPa, daylight 06:44-18:55

# Mars Space Facts

In [41]:
#define URL
SpaceFactsUrl = 'https://space-facts.com/mars/'

In [43]:
#use Pandas to read HTML directly into dataframe
table = pd.read_html(SpaceFactsUrl)
indexedDF = table[0]
indexedDF.columns = ['Description', 'Value']
indexedDF

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [44]:
#remove index
DF = indexedDF.set_index('Description')
DF

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [45]:
#convert dataframe table to HTML for output
htmlTable = DF.to_html()
htmlTable

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# Mars Hemispheres (website unavailable)